/* Debug CSS */
* {
    border: 0.25px solid #f00;
}

/* Reset CSS */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}

/* Arrange Element as Box */
* {
    box-sizing: border-box;
}

/* CSS */