/* Debug CSS */
* {
    border: 0.10px solid #f00;
}

/* Reset CSS */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
html, body {
	width: 100%;
	height: 100%;

}
body {
	display: flex;
	flex-direction: column;
}

/* Arrange Element as Box */
* {
	box-sizing: border-box;
}

/* Animation */
@keyframes sliding-left {
	100%{left: 0px;}
}

/* CSS */
header {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	text-align: center;
}
.header-logo {
	width: 25%;
	height: 100%;
}
.header-logo h1 {
	line-height: 4vw;
}
.header-title {
	width: 70%;
	height: 100%;
}
.header-title h1 {
	line-height: 4vw;
}
.header-login {
	width: 5%;
	text-align: center;
	position: relative;
}
.header-login a {
	display: block;
	height: 100%;
	line-height: 4vw;
}
.header-login a:hover {
	background-color: #f92472;
	color: #fff;
}
.hidden-menu {
	display: none;
	position: absolute;
	z-index: 1;
}

.main-menu {
	width: 100%;
	height: 70%;
	display: flex;
}
.menu-left {
	width: 25%;
	display: flex;
	flex-direction: column;
}
.menu-left span {
	width: 80%;
	height: 30%;
	line-height: 7vw;
	font-size: 1.5vw;
}
.menu-right {
	width: 75%;
}
.explain {
	width: 100%;
	height: 100%;
	position: relative;
}
.hidden-1, .hidden-2, .hidden-3 {
	display: none;
	position: absolute;
	top: 0;
	left: 1200px;
	width: 100%;
	height: 100%;
	animation: sliding-left 1s forwards;
}
.hidden-1 {
	background-color: #f00;
	color: #fff;
}
.hidden-2 {
	background-color: #0f0;
	color: #fff;
}
.hidden-3 {
	background-color: #00f;
	color: #fff;
}
input, textarea {
	width: 200px;
}

footer {
	display: flex;
	width: 100%;
	height: 20%;
}
.contact {
	width: 20%;
}
.contact1 {
	width: 40%;
}
.contact2 {
	width: 40%;
}

.container {
	width: 100%;
	display: flex;
}
.btn {
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  padding: 10px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: 5px 7px #555652;
  margin: 15px auto;
}
.btn:hover {
  opacity: 1;
  font-weight: bold;
}
.btn:active {
  position: relative;
  top: 7px;
  left: 5px;
  box-shadow: none;
}
.menu {
	background-color: #a6e22b;
}

/*header {
	width: 100%;
	height: 10%;
	
	
	background-color: #26d0c9;
	color: #fff;
}
.header-logo {
	width: 25%;
}
.header-logo h1 {
	font-size: 2vw;
	text-align: left;
}
.header-title {
	width: 50%;
	text-align: center;
}
.header-title h1 {
	font-size: 3vw;
}
.header-login {
	width: 25%;
}
.header-login a {
	display: block;
	text-align: center;
	font-size: 2vw;
	padding: .5em;
}

.main-menu {
	width: 100%;
	height: 60%;
	
}
.menu-left {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list {
	height: 33.3%;
	padding: 3em;
}
.menu-right {
	width: 75%;
}

footer {
	width: 100%;
	height: 30%;
	background-color: black;
	color:white;

}

.contact  {
	width: 20%;
}
.contact1 {
	width: 40%;
}
.contact2 {
	width: 40%;
}

.container{
	display: flex;
	width: 100%;
	}






*/




