@media (max-width: 670px) {

    header {
        display: flex;
        flex-direction: column;
    }
    .header-logo {
        width: 100%;
    }
    .header-title {
        width: 40%;
    }
    .header-login {
        width: 30%;
    }

}